/* css for header */
.topnavContainer{
    display: table;
    width: 100%;
    margin: 0px 0px 20px 0px;
    /*border: solid 1px red;*/
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.appLogo {
    float: left;
    width: 190px;
    height: 34px;
    background-image: url("/resources/icons/appLogo.png");
    background-size: 190px 34px;
    background-repeat: no-repeat;
}
.appLogoText{
    float: left;
    width: 190px;
    height: 34px;
    background-image: url("/resources/icons/appLogoText.png");
    background-size: 190px 34px;
    background-repeat: no-repeat;
}

.float-right {
    float: right;
}

.float-right-item, .no-underline{
    display: inline-block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background: #f7f8f9;
}

.topnav a{
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    text-align: center;
    color: #48545B;
    text-decoration: none;
}

.no-underline a {
    padding: 0px 0px 0px 15px;
}

.topnav a:hover {
    color: #DE411B;
    text-decoration: none;
    border-bottom: 1px solid #DE411B;
}

.no-underline a:hover {
    border-bottom: 0px solid #DE411B;
}

.sub-menu {
    display: none;
    padding: 0px 0px 6px 0px;
    position: absolute;
    z-index: -10;
    opacity: 0;
    box-shadow: 0 0 14px 2px rgba(221, 221, 221, 1);
    background: #FFFFFF;
}

.sub-menu-item{
    display: block;
    padding: 4px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}

.float-right-item:hover div:not(first-child) {
    z-index: 1;
    opacity: 1;
    display: block;
}

.sub-menu-item a {
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 740px) {
    .topnavContainer {
        display: table-caption;
    }

    .topnav{
        display: table;
    }

    .float-right {
        height: 0;
    }

    .float-right-item {
        display: table;
        text-align: left;
    }

    .sub-menu {
        display: table;
        position: relative;
        z-index: 1;
        opacity: 1;
        box-shadow: 0 0 0px 0px rgba(221, 221, 221, 1);
        background: #f7f8f9;
    }

    .sub-menu-item {
        padding: 0px 0px 0px 20px;
    }

    .topnav .icon {
        display: block;
        position: absolute;
        right: 75px;
        top: 47px;
    }

    #bell {
        display: block;
        position: absolute;
        right: 100px;
        top: 45px;
    }

    .topnav .float-right-item, .topnav .sub-menu-item {
        display: none;
    }
}

@media screen and (max-width: 740px) {
    .topnavContainer{
        margin: 0px 0px 0px 0px;
    }

    .topnav.responsive .float-right {
        height: auto;
    }

    .topnav.responsive .float-right-item, .topnav.responsive .sub-menu-item {
        display: table;
    }

/*this cheating is needed to gain some space from sub-menu-notification sub-menu*/
    .no-underline {
        height: 0px;
    }
}

@media screen and (max-width: 390px){
    body{
        padding: 5px !important;
    }

    .appLogo{
        display: none;
    }

    .topnav .icon {
        right: 5px;
        top: 7px;
    }

    #bell {
        right: 30px;
        top: 5px;
    }
}

/* Выпадающее окно уведомлений */
.no-underline:hover .notifications-list {
    right: 50px;
    display: block;
    position: absolute;
    top: 70px;
    width: 310px;
}

@media screen and (max-width: 390px) {
    .no-underline:hover .notifications-list {
        right: 25px;
        top: 29px;
    }
}

.notifications-list {
    display: none;
    background-color: #fff;
    box-shadow: 0 0 14px 2px rgba(221, 221, 221, 1);
    z-index: 1;
}

#notification {
    width: 310px;
}

#notification tr {
    border-bottom: 2px solid #E0E0E1;
    color: #E0E0E1;
}

#notification tr td {
    color: #E0E0E1;
    font-size: 13px;
    font-weight: normal;
    padding: 10px;
}

#notification_time_date {
    text-align: center;
    padding: 0 0 0 15px;
}

#notification_time {
    margin: 0 0 -5px 0;
    color: #DE411B;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

#notification_date {
    margin: 0;
    color: #6A7378;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

#notification_message {
    text-align: left;
    padding: 0 0 0 20px;
    width: 100%;
}

#notification_message a {
    color: #000;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.notifications-list #notification-title {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 15px;
    color: #000;
    text-align: left;
    border-bottom: 2px solid #E0E0E1;
    padding: 6px 0 6px 15px;
    margin: 0;
}

.notifications-list #notification-bottom {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 15px;
    color: #000;
    /*border-top: 2px solid #E0E0E1;*/
    padding: 6px;
    margin: 0;
    text-align: center;
}

/* Модальное окно для уведомлений */
#modal_form {
    width: 50%;
    min-width: 300px;
    height: 74.2%;
    min-height: 300px;
    background: #fff;
    top: 19.7%;
    left: 25%;
    position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
    display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
    opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
    z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
    box-shadow: 0 0 14px 2px rgba(221, 221, 221, 1);
}

#modal_title {
    position: absolute;
    top: 12.2%;
    left: 10%;
    display: block;
    font-size: 32px;
    letter-spacing: 1px;
    font-family: "Arial Narrow", Arial, sans-serif;
}

#modal_close {
    position: absolute;
    top: 11.8%;
    right: 9.1%;
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-image: url(/resources/icons/ic_close.png);
    background-repeat: no-repeat;
}

#modal_content {
    width: 80%;
    height: 66.7%;
    position: absolute;
    top: 19%;
    left: 10%;
    overflow: auto;
    overflow-x: hidden;
}

#modal_line {
    border-bottom: 2px solid #ECECEC;
}

#modal_time_date {
    text-align: left;
}

#modal_time {
    margin: 31% 0 -7% 0;
    color: #DE411B;
    font-size: 21px;
    font-family: Arial, sans-serif;
}

#modal_date {
    margin: 0 0 30% 0;
    color: #6A7378;
    font-size: 22px;
    font-family: Arial, sans-serif;
}

#modal_message {
    text-align: left;
    padding: 0 0 0 6%;
    width: 100%;
}

#modal_message a {
    color: #000;
    font-size: 19px;
    font-family: Arial, sans-serif;
}

@media screen and (max-width: 1366px) {
    #modal_title {
        font-size: 24px;
    }

    #modal_time {
        font-size: 16px;
    }

    #modal_date {
        font-size: 14px;
    }

    #modal_message a {
        font-size: 13px;
    }
}

/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0; /* нo немнoгo прoзрaчнa */
    -moz-opacity: 0; /* фикс прозрачности для старых браузеров */
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left: 0;
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}