body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 730px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red;
}

.register-hint {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    width: 100%;
}

.register-hint .hint-body {
    visibility: hidden;
    background-color: #df3f14;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 20px;
    position: absolute;
    z-index: 5;
    bottom: 125%;
    margin-left: -180px;
    opacity: 0;
    transition: opacity 1s;
}

.register-hint .hint-body::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #df3f14 transparent transparent transparent;
}

.register-hint:hover .hint-body {
    visibility: visible;
    opacity: 1;
    font-size: 15px;
}

* {
    -webkit-transition-property: all;
    -webkit-transition-duration: .2s;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    -moz-transition-property: all;
    -moz-transition-timing-function: cubic-bezier(100,50,21,6);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.container{
    width: 1113px;
    height: 675px;
}

.has-error .form-control::-webkit-input-placeholder {
    color: #a16363;
}
.has-error .form-control:-moz-placeholder {
    color: #a16363;
}
.has-error .form-control::-moz-placeholder {
    color: #a16363;
}
.has-error .form-control:-ms-input-placeholder {
    color: #a16363;
}
.has-error .form-control::-webkit-input-placeholder, .has-error .form-control::-webkit-input-placeholder {
    color: #a16363;
}
.has-error .form-control:-moz-placeholder, .has-error .form-control:-moz-placeholder {
    color: #a16363;
}

.container span{

}

.container input{
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)!important;
}

/* Регистрация */
.registration-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.registration-wrapper td {
    padding: 0 20px;
}

.form-group-reg{
    /*margin-top: 34px; */
    /* height: 100px; */
    /* width: 421px; */
    margin-left: -4px;
    margin-bottom: 0 !important;
}

#reg-error {
    font-size: 12px;
    color: red;
}

.reg-last-first-error{
    line-height: 0.6;
}

#register-fields {
    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.image {
    height: 79px;
}

#btn-reg {
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    margin: -30px auto;
}

.has-error {
    font-size: 5px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    background: #f7f8f9;
    padding:75px;
    padding-top: 40px;
    text-align:center;
}

.form-signin {
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #ffffff;
    padding-top: 56px;
    padding-left: 88px;
    margin-left: 216px;

    max-width: 735px;
    padding: 91px;
    margin: 82px auto;
    height: 767px;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
    margin-top: 71px;
}

.form-signin .checkbox {
    font-weight: normal;
}
/*.form-signin-reg input{*/
/*font-size: 14px!important;*/
/*border-width: 1px!important;*/
/*}*/

.form-signin .form-control {
    top: 1px;
    position: relative;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    font-size: 14px;
    margin-left: 15px;
    height: 62px;
    margin-top: 1px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {

    margin-left: 0;
    margin-top: 0;
    margin-bottom: 50px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;


}
.form-signin-reg {
    max-width: 1345px;
    margin: 17px 50px;
    height: 590px;
    padding: 30px;
}

.form-signin button {
    margin-bottom: 40px;
    margin-top: -4px;
}

.btn{
    width: 546px;
    margin-left: 14px;
    border-radius: 27px;
    height: 34px;
    margin-top: 3px;
    color: rgb(1, 1, 2);
    background-color: #df3f14;
    padding:5px 20px;
    font-size:13px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #48545B;
}

:focus{
    outline: 0;
    outline-offset: 0;
}

.btn:hover{
    border:none;
    background:rgba(0, 0, 0, 0.4);
    background: #7a210c;
    color:#1b1b1b;
}

/* cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/WDQRONh0ieLkzMd4njMkJBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/qlwg-kjAsZDGqOniRm96VBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

a {
    font-size: 15px;
    color: #DE411B;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

a:hover {
    text-decoration: none;
    color: #DE411B;
}

.endava_logo {
    margin: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("/resources/icons/Endava_Logo.png");
    width: 180px;
    height: 60px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

button:focus {
    outline:0;
}

.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 20%; /* Задаем ширину кнопки выбора файла */
    height: 20px; /* Задаем высоту кнопки выбора файла */
    background: #df3f14;
    border-radius: 27px;
    padding: 16px 20px;
    color: #fff;
    text-align: center;
    left: 245px;
    font-size: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.file-upload:hover {
    background: #7a210c;
}

.file-upload input[type="file"]{
    display: none;
}

.file-upload label {
    display: inline;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-weight: 100 !important;
}

.file-upload span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

.filename {
    background: #fff;
    border: 0;
    position: absolute;
    margin-left: 15px !important;
    margin-top: 5px !important;
    width: 30%;
}