* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}
.container{
    width: 1113px;
    height: 675px;
}
.has-error .form-control::-webkit-input-placeholder {
    color: #a16363;
}
.has-error .form-control:-moz-placeholder {
    color: #a16363;
}
.has-error .form-control::-moz-placeholder {
    color: #a16363;
}
.has-error .form-control:-ms-input-placeholder {
    color: #a16363;
}
.has-error .form-control::-webkit-input-placeholder, .has-error .form-control::-webkit-input-placeholder {
    color: #a16363;
}
.has-error .form-control:-moz-placeholder, .has-error .form-control:-moz-placeholder {
    color: #a16363;
}

#reg-error{
    font-size: 14px;
    height: 50px;
    top: -13px;
    position: relative;
}
.container span{

}

.container input{
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)!important;
}
#remember-me{
  width: 42px;
  height: 30px;
}
.first-last-div{
    margin-top: 10px;
    width: 440px;
    float: left;
}
/*#email{*/
    /*!*margin-bottom: 50px; *!*/
    /*!* margin-right: -18px; *!*/
    /*width: 434px;*/
    /*float: left;*/
    /*height: 60px;*/
    /*margin-left: 2px;*/
    /*margin-top: 1px;*/

/*}*/
.assignment{
    float: right;
    width: 460px;
    height: 55px;
    margin-top: -4px;
}

.assignment input{
    width: 431px;
}

/*#username{*/
    /*margin-top: 17px;*/
    /*margin-left: 3px;*/
    /*width: 434px;*/
    /*margin-bottom: 50px;*/
    /*line-height: 0.6;*/
/*}*/
#btn-reg{
    border: none;
    width: 435px;
    height: 39px;
    padding: 8px 8px;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 97px 316px;
    color: white;
    text-transform:none;
    top: 54px;
    position: relative;
    right: 186px;
}

.reg-last-first-error{
line-height: 0.6;
    top: -30px;
}
#ass-name{
  margin-left: 11px;
  height: 70px;
  float: right;
}
#ass-name input {
  margin-left: -7px;
}

#password{
    margin-left: 12px;
    top: 30px;
    width: 432px;
}
#confirm-pass{
    float: right;
    margin: -2px 22px -4px 11px;
    width: 433px;
    margin-top: 68px;
    height: 89px;

}
#confirm-pass input{
      margin-left: 10px;
}

/*#lastname{*/
    /*width: 202px;*/
    /*float: right;*/
    /*margin-right: 3px;*/
    /*margin-bottom: 0px;*/
    /*margin-top: -10px;*/
/*}*/

#lastname input{
    height: 50px;
}


/*#firstname {*/
    /*margin-top: -20px;*/
    /*margin-left: 3px;*/
    /*width: 204px;*/
    /*height: 50px;*/
    /*margin-bottom: 0px;*/
/*}*/
.form-group-reg{
    /*margin-top: 34px; */
    /* height: 100px; */
    /* width: 421px; */
    margin-left: -4px;
}


/*label{*/
  /*width: 185px;*/
  /*margin: 17px 413px 1px 11px;*/
/*}*/
body{
    max-width: 1400px;
    margin: auto;
    padding-top: 40px;
    background-color: #f7f8f9;
}

@media screen and (max-width: 1200px) {
    body {
        max-width: 1200px;
    }
}

/* cyrillic */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/WDQRONh0ieLkzMd4njMkJBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/qlwg-kjAsZDGqOniRm96VBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/l1cOQ90roY9yC7voEhngDBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v15/HqHm7BVC_nzzTui2lzQTDVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.btn_calendar{
    color: rgb(1, 1, 2);
    background: rgba(237, 114, 10, 0.7);
    padding:10px 20px;
    font-size:12px;
    text-decoration:none;
    letter-spacing:2px;
    text-transform:uppercase;
}

/* Пoдлoжкa */
#overlay {
    z-index: 3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
    position: fixed; /* всегдa перекрывaет весь сaйт */
    background-color: #000; /* чернaя */
    opacity: 0; /* нo немнoгo прoзрaчнa */
    -moz-opacity: 0; /* фикс прозрачности для старых браузеров */
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%; /* рaзмерoм вo весь экрaн */
    top: 0; /* сверху и слевa 0, oбязaтельные свoйствa! */
    left: 0;
    cursor: pointer;
    display: none; /* в oбычнoм сoстoянии её нет) */
}

button:focus {
    outline:0;
}

/*css for login page*/
#avatar {
  width:150px;
  height:150px;
  margin: 25px auto;
  overflow: hidden;
  border-radius:50%;
  position: relative;
}

#avatar img {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

#edit_user {
  float: right;
  color: #DE411B;
  border: none;
  background: none;
}

 /*css for editing user modal view*/
.edit_profile_modal {
  width: 550px;
  background-color: white;
  border-radius: 0;
  height: 450px;
  padding: 30px;
}

.edit_profile_header {
  margin: 0;
  margin-left: 32px;
  margin-right: 32px;
  padding: 0;
  border: none;
}

.edit_profile_body {
  width: 450px;
  background-color: white;
  border-radius: 0;
  height: 350px;
  border: none;
  margin: 0;
  padding: 0;
}

.btn_edit_user_submit {
  width: 400px;
  height: 30px;
  background-color: #DE411B;
  color: white;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.close_modal {
  alignment-baseline: middle;
  float: right;
  width: 35px;
  height: 35px;
  border: none;
  background-size: 35px 35px;
  background-image: url(/resources/icons/ic_close.png);
  background-color: transparent;
  background-repeat: no-repeat;
}

#user_edit_form {
  margin: 0;
  padding-top: 10px;
}

#user_username, #user_firstname, #user_lastname, #user_position, #user_email  {
  color: #48545B;
  font-size: 15px;
  text-underline: none;
  font-family: Arial, sans-serif;
  margin: auto;
  width: 400px;
  height: 60px;
  padding-top: 35px;
  border: none;
  border-bottom: solid #939fa5;
}

#user_firstname, #user_lastname, #user_position, #user_email:focus {
outline: 0;
}

/*css for login page*/
.login_form {
    margin-top: 7%;
    max-width: 550px;
    /*margin: auto;*/
    background-color: white;
    border-radius: 0;
    padding: 30px;
}


.login_input {
  color: #48545B;
  font-size: 15px;
  text-underline: none;
  font-family: Arial, sans-serif;
  margin: auto;
  width: 420px;
  height: 80px;
  padding-top: 35px;
  border: none;
  border-bottom: solid #939fa5;
}

.login_input:focus {
  outline: 0;
}

.login_input:empty {

}

.btn_login_submit {
  width: 430px;
  height: 30px;
  background-color: #DE411B;
  color: white;
  font-size: 15px;
  font-family: Arial, sans-serif;
  border: 0;
  border-radius: 15px;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 25px;
}

.endava_logo {
  margin-top: 0;

}

#remember_me {
  width: 130px;
  height: 15px;
  font-family: Arial, sans-serif;
}

.error_text {
  color: red;
  font-size: 12px;
  text-underline: none;
  font-family: Arial, sans-serif;
  float: left;
  margin-left: 35px;
}

/*css for delete event modal*/
.delete_event_modal {
  width: 550px;
  background-color: white;
  border-radius: 0;
  height: 300px;
  padding: 30px;
  justify-content: space-between;
  margin: auto;
}

.login_input {
    color: #48545B;
    font-size: 15px;
    text-underline: none;
    font-family: Arial, sans-serif;
    margin: auto;
    max-width: 420px;
    height: 80px;
    padding-top: 35px;
    border: none;
    border-bottom: solid #939fa5;
    background-color: white;

}
/*disable yellow color in the box in login form*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
.login_input:focus {
    outline: 0;
}

.login_input:empty {

}

.btn_login_submit {
    max-width: 430px;
    height: 30px;
    background-color: #DE411B;
    color: white;
    font-size: 15px;
    font-family: Arial, sans-serif;
    border: 0;
    border-radius: 15px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 25px;
}

.endava_logo {
    margin-top: 2%;
    margin-bottom: 6%;

    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    width: 180px;
}

#remember_me {
    width: 130px;
    height: 15px;
    font-family: Arial, sans-serif;
}

.error_text {
    color: red;
    font-size: 12px;
    text-underline: none;
    font-family: Arial, sans-serif;
    float: left;
    margin-left: 35px;
}

/*welcome page css*/
.mascot {
    display: block;
    position: absolute;
    left: 0px;
    top: 10%;
    z-index: -1;
    width: 528px;
    height: 80%;
    background-image: url("/resources/images/mascot.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.greeting-wrapper{
    width: 60%;
    margin: 120px auto;
    min-width: 820px;
    /*border: solid 1px red;*/
}

.greeting_1, .greeting_2, .greeting_3 {
    color: #48545B;
    text-align: center;
}

.greeting_1 {
    font-size: 40px;
    padding: 0px 0px 0px 0px;
}

.greeting_2 {
    font-size: 25px;
    padding: 0px 0px 0px 0px;
}

.greeting_3 {
    font-size: 18px;
    padding: 30px 0px 50px 0px;
}

.greeting_4 {
    display: inline-table;
    padding: 0px 0px 30px 0px;
}

.greeting_4 a {
    display: inline-block;
}

.greeting-btn {
    border-radius: 30px;
    color: #48545B;
    background-color: #f7f8f9;
    border: solid 1px #DE411B;
    margin: 0px 25px;
    padding: 10px 125px;
    font-size: 18px;
    text-decoration: none;
}

.greeting-btn:hover{
    color: #FFFFFF;
    background-color: #DE411B;
    border: solid 1px #DE411B;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 970px) {
    .greeting-wrapper {
        width: 100%;
        min-width: 250px;
    }

    .greeting-btn {
        padding: 10px 70px;
        margin: 5px 20px 0px 20px;
    }
}

@media screen and (max-width: 800px) {
    .greeting_1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 740px) {
    .greeting-btn {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 390px) {
    body{
        padding: 5px !important;
    }

    .greeting-btn {
        padding: 10px 40px;
    }
}

@media screen and (max-height: 550px) {
    .greeting-wrapper {
        margin: 80px auto;
    }
}

@media screen and (max-height: 450px) {
    .greeting-wrapper {
        margin: 40px auto;
    }
}

@media screen and (max-height: 400px) {
    .mascot {
        display: none;
    }

    .greeting-wrapper {
        margin: 0px auto;
    }
}

/*error styles*/
.error-wrapper {
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    text-align: center;
}

.error-msg {
    font-size: 25px;
    color: #48545B;
    padding: 0px 0px 15px 0px;
}