* {
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
	-moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

body{
  width: 1300px;
  margin-right: auto;
  margin-left: auto;
  background: #f7f8f9;
  padding:75px;
  text-align:center;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 15px;
}


h1{
  color: rgba(6, 6, 6, 0.96);
  font-weight:100;
}

tbody:before {
  content: '';
  display: table-row;
  height: 10px;
}
.btn{
  color: rgb(1, 1, 2);
  background: rgba(237, 114, 10, 0.7);
  padding:10px 20px;
  font-size:13px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
}

.btn_edit_image{
  color: rgb(1, 1, 2);
  background: rgba(0, 0, 0, 0);
  background-image: url(/resources/buttons.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  width: 32px;
  height: 20px;
  transition: initial;
}
.btn_edit_image:hover{
  background-image: url(/resources/buttons.png);
  background-position: -32px 0;
}
.btn_close_modal{
  float: right;
  background: white;
  background-image: url(/resources/ic_close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 17px;
  border: none;
  width: 17px;
  height: 17px;
  padding: 0;
}
.btn_not_today_modal{
   width: 140px;
   height: 25px;
   padding: 4px;
   border: 1px solid #de411b;
   float: left;
   border-radius: 20px;
   background-color: #DE411B;
   font-size: 13px;
 }
.box_style_shadow{
  box-shadow: 0 0 14px 2px rgba(221, 221, 221, 1);
}
.btn_delete_modal{
  width: 140px;
  height: 25px;
  padding: 4px;
  border: 1px solid #de411b;
  float: right;
  border-radius: 20px;
  background-color: white;
  font-size: 13px;
  color: black;
  text-align: center;
}
.btn_delete_modal:focus, .btn_delete_modal:hover{
  background-color: #de411b;
  color: white;
}
.btn_not_today_modal:focus, .btn_not_today_modal:hover{
  background-color: #7a210c;
  color: white;
}
.btn_close_modal:focus, .btn_close_modal:hover {

  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5
}
.modal{
  width: 700px;
  height: 700px;
  position: absolute;
  left: 36%;
  top:  20%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 0px;
}
.modal_content{
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
.btn_delete_image{
  color: rgb(1, 1, 2);
  background: rgba(0, 0, 0, 0);
  background-image: url(/resources/buttons.png);
  background-position: 0px -20px;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  width: 32px;
  height: 20px;
  transition: initial;
}
.btn_delete_image:hover{
  background-image: url(/resources/buttons.png);
  background-position: -32px -20px;

}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #48545B;
}
.search_button_style{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 13px;
  background-color: white;
  background-image: url(/resources/ic_search.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 20% 90%
}
.user_button_style{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 13px;
  background-color: white;
  background-image: url(/resources/ic_record.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 20% 90%
}
.email_button_style{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 13px;
  background-color: white;
  background-image: url(/resources/ic_aspersand.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 20% 90%
}
.assignment_button_style{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 13px;
  background-color: white;
  background-image: url(/resources/ic_job.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 20% 90%
}

.edit_btn{
  padding-top: 7px;
  width: 100%;
  height: 35px;
  padding-bottom: 10px;
  color: white;
  text-align: center;
}

.user_edit_fields{
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  float: left;
}
.roles_button_style{
  width: 140px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-right: 0;
  border-left: 0;
  border-top: 0;
  font-size: 13px;
  background-color: white;
  background-image: url(/resources/ic_list.png);
  background-position: 1px 1px;
  background-repeat: no-repeat;
  padding: 5px 20px 5px 30px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background-size: 20% 90%
}

:focus{
  outline: 0;
  outline-offset: 0;
}

.select{
  font-color: #ccc;
  padding-left: 5px;
  border: 2px solid #ccc;
  width: 140px;
  height: 30px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  -webkit-appearance: none;
  background-image: url(/resources/ic_arrow_left.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}
.color222{
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.test{
  text-align: left;
  padding: 10px;
  width: 200px;
}
.tdtest{
  border-left: 0;
  border-right: 0;
}

.thstyle{
  color: #de411b;
}

.cellpadding {
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background: rgba(234, 234, 234, 0.87);
  color:#1b1b1b;
}

.footer{
  font-size:8px;
  color:#fff;
  clear:both;
  display:block;
  letter-spacing:5px;
  border:1px solid #fff;
  padding:5px;
  text-decoration:none;
  width:210px;
  margin:auto;
  margin-top:400px;
}